.login-form {
    width: 500px;
    height: auto;
    border: 1px white solid;
    display: block;
    margin: 100px auto;

    > *:first-child {
        width: 100%;
        height: 100%;
        padding: 35px;
    }

    .buttons-divider {
        margin-top: 20px;
    }

    .form-buttons {
      width: 100%;
      margin-top: 25px;
    }

    .login-button {
      width: 100%;
    }
}
